.context {
  opacity: 0.4;
}

.main, .context {
  white-space: pre-line;  
}

.card {
  color: black;
  background-color: white;
  font-family: PT Sans, calibri, arial;
  font-size: {{font_size}}px;
  text-align: center;
}